PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fincontrol?schema=public"
JWT_ACCESS_SECRET="fincontrol_super_secret_jwt_access_key_12345"
JWT_REFRESH_SECRET="fincontrol_super_secret_jwt_refresh_key_67890"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
